<ion-header>
    <ion-toolbar>
        <ion-title>
            Lorem
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-searchbar animated debounce slot='start' [(ngModel)]="searchString"></ion-searchbar>

<ion-content>

  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <list [listData]='listData' [searchString]='searchString'></list>

<ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event)">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
</ion-infinite-scroll>
</ion-content>
